
.router-link-active{
  color: #ba0073;
  text-decoration: underline;  
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #000000;  

}
a:hover {
  color: #f80099;
}

body {
  margin: 0;
  display: flex;
  background-color: #fafafa;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Fredericka the Great';
  color: #ba0073;
}







#app {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.separator {
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.desktop{
  display: block;
}
/*when the screen width is equal or inferior of 600px the desktop class items disapear*/
@media screen and (max-width:600px) {
  .desktop{
      display: none;
  }
  .mobile{
    display:block;
  }
}