:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.router-link-active{
  color: #ba0073;
  text-decoration: underline;  
}

a {
  
  font-size: 22px;
  color: #000000;  
  text-decoration: none;

}
a:hover {
  color: #f80099;
}

body {
  margin: 0;
  display: flex;
  background-color: #fafafa;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Fredericka the Great';
  color: #ba0073;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


.card {
  padding: 2em;
}


#app {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.separator {
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.desktop{
  display: block;
}
/*when the screen width is equal or inferior of 600px the desktop class items disapear*/
@media screen and (max-width:600px) {
  .desktop{
      display: none;
  }
  .mobile{
    display:block;
  }
}